---
import './styles/daw5on.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Dawson Rubino | Portfolio</title>
        <link href="https://api.fontshare.com/v2/css?f[]=archivo@1&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Dawson</h1>
		<p>I make your corner of the internet real.</p>
    </body>
</html>
